<odoo>
    <!-- Menú principal de la aplicación -->
    <menuitem id="library_management_menu" name="Library Management" sequence="1"/>

    <!-- Submenús con sus respectivas acciones -->
    <menuitem id="library_author_menu" name="Author" parent="library_management_menu" sequence="2" action="library_management.author_action"/>
    <menuitem id="library_user_menu" name="Users" parent="library_management_menu" sequence="3" action="library_management.user_action"/>


    <!-- <menuitem id="library_books_menu" name="Books" parent="library_management_menu" sequence="2" action="action_library_book"/>
    <menuitem id="library_categories_menu" name="Categories" parent="library_management_menu" sequence="4" action="action_library_category"/>
    <menuitem id="library_loans_menu" name="Loans" parent="library_management_menu" sequence="6" action="action_library_loan"/>
     -->

</odoo>
