<odoo>
    <!-- Menú principal de la aplicación -->
    <menuitem id="library_management_menu" name="Library Management" sequence="1"/>

    <!-- Submenús con sus respectivas acciones -->
    <menuitem id="library_management_author_menu" name="Author" parent="library_management_menu" action="library_management.author_action" sequence="2"/>
    <menuitem id="library_management_books_menu" name="Books" parent="library_management_menu" action="library_management.book_action" sequence="3"/> 
    <menuitem id="library_management_user_menu" name="Users" parent="library_management_menu" action="library_management.user_action" sequence="4"/> 
    <menuitem id="library_management_loan_menu" name="Loans" parent="library_management_menu" action="library_management.loan_action" sequence="5" /> 
    <menuitem id="library_management_category_menu" name="Categories" parent="library_management_menu" action="library_management.category_action" sequence="6"/>
</odoo>
